    <header>Stock Dashboard</header>
    <div class="flex-container">    
        <div class="half trend-up">GLD 107.09</div>
        <div class="half trend-up">BTC 9447.67</div>
      </div>
    <div>
<br>