

    <header>Stock Dashboard</header>
    <div class="flex-container">    
        <div class="half trend-up">GLD {{stockPrice}}</div>
        <div class="half trend-up">BTC  {{stockPrice}}</div>
      </div>
    <div>
<br>


<h1>Made it to stock Handlebar</h1>
<p>stockTicker: {{stockTicker}}</p>
<p>stockPrice: {{stockPrice}}</p>


