

    <header>Stock Dashboard</header>
    <div class="flex-container">    
        <div class="half trend-up">GLD {{gld}}</div>
        <div class="half trend-up">BTC  {{btc}}</div>
      </div>
    <div>
<br>




